body{
    background-color: rgb(100, 103, 104);
}



.test{
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0px;
    
}

ul li{
    margin: 0 auto;
    padding: 10px;
    font-size: 50px;
    list-style-type: none;
    border: 2px solid black;
    text-align: center;
    
}